@charset "utf-8";
/* CSS Document */

h1 {

	color: #F8F8F8;

	text-align: center;

}

body {

	background-color: black;

	align-content: center;

	

}

p {

	text-align: center;

	font-family: , Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";

	font-size: 5em;

}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


	 

